@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-white font-sans;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  body::after {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.527); /* adjust for more/less darkness */
  pointer-events: none;
}
  
}
